.chess-board{
    display: grid;
    position: relative;
}

.square{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square .highlight{
    position: absolute;
}

.square .highlight.movable{
    border-radius: 50%;
    background-color: black;
    opacity: 0.4;
    
}

.square .highlight.check{
    border-radius: 50%;
    background-color: red;
    box-shadow: 0px 0px 25px 20px red;
}

.square .highlight.vulnerable{
    border-radius: 20%;
    background-color: red;
    opacity: 0.7;
}

.square .highlight.capture{
    border-radius: 20%;
    background-color: greenyellow;
    opacity: 0.7;
}

.square .highlight.select{
    background-color: rgb(59, 192, 170);
    opacity: 0.9;
}