.pgn-page{
    background-color: #333333;
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    padding: 20px;
    /* display: flex;
    flex-direction: column; */
    border-radius: 7px;
}